# Blockhouse Work Trial Task - ML Researcher

In [1]:
#imports
import numpy as np
import pandas as pd

In [2]:
# data = pd.read_csv('data/AAPL_Quotes_Data.csv')
# data.head(10)

In [3]:
data = pd.read_csv('data/merged_bid_ask_ohlcv_data.csv')
data.head(10)

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,publisher_id,instrument_id,open,high,low,close,volume,symbol,log_return,volatility
0,2023-09-12 13:30:00+00:00,179.66,179.66,179.66,179.66,179.66,27600.0,30000.0,23100.0,23100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-09-12 13:31:00+00:00,179.89,179.89,179.89,179.89,179.89,21200.0,900.0,1200.0,20300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-09-12 13:32:00+00:00,180.12,180.12,180.12,180.12,180.11,10000.0,30000.0,20000.0,30000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-09-12 13:33:00+00:00,179.99,179.99,179.99,179.99,179.99,17400.0,19700.0,9700.0,19700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-09-12 13:34:00+00:00,179.78,179.78,179.78,179.78,179.78,10000.0,10000.0,12100.0,10600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-09-12 13:35:00+00:00,179.84,179.84,179.84,179.84,179.83,300.0,1300.0,1000.0,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-09-12 13:36:00+00:00,179.84,179.84,179.84,179.84,179.84,31700.0,6800.0,31700.0,31700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-09-12 13:37:00+00:00,179.79,179.79,179.79,179.79,179.79,13400.0,300.0,3400.0,13400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-09-12 13:38:00+00:00,179.75,179.75,179.75,179.75,179.75,29000.0,36900.0,20000.0,20000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-09-12 13:39:00+00:00,179.61,179.61,179.61,179.61,179.61,26200.0,2000.0,22500.0,2500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100964 entries, 0 to 100963
Data columns (total 32 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   timestamp      100964 non-null  object
 1   bid_price_1    100964 non-null  float64
 2   bid_price_2    100931 non-null  float64
 3   bid_price_3    100879 non-null  float64
 4   bid_price_4    100825 non-null  float64
 5   bid_price_5    100769 non-null  float64
 6   bid_size_1     100964 non-null  float64
 7   bid_size_2     100931 non-null  float64
 8   bid_size_3     100879 non-null  float64
 9   bid_size_4     100825 non-null  float64
 10  bid_size_5     100769 non-null  float64
 11  ask_price_1    100964 non-null  float64
 12  ask_price_2    100931 non-null  float64
 13  ask_price_3    100879 non-null  float64
 14  ask_price_4    100825 non-null  float64
 15  ask_price_5    100769 non-null  float64
 16  ask_size_1     100964 non-null  float64
 17  ask_size_2     100931 non-null  float64
 18  ask_size_3     100879 non-null  float64
 19  ask_size_4     100825 non-null  float64
 20  ask_size_5     100769 non-null  float64
 21  rtype          100807 non-null  float64
 22  publisher_id   100807 non-null  float64
 23  instrument_id  100807 non-null  float64
 24  open           100807 non-null  float64
 25  high           100807 non-null  float64
 26  low            100807 non-null  float64
 27  close          100807 non-null  float64
 28  volume         100807 non-null  float64
 29  symbol         100807 non-null  object
 30  log_return     100807 non-null  float64
 31  volatility     100807 non-null  float64
dtypes: float64(30), object(2)
memory usage: 24.6+ MB

In [5]:
data['symbol'].unique()

array([nan, 'AAPL'], dtype=object)

In [6]:
data = data[data['symbol'].notna()]

In [7]:
data = data.drop(columns=['rtype', 'publisher_id', 'instrument_id', 'log_return'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100807 entries, 15 to 100963
Data columns (total 28 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    100807 non-null  object
 1   bid_price_1  100807 non-null  float64
 2   bid_price_2  100801 non-null  float64
 3   bid_price_3  100775 non-null  float64
 4   bid_price_4  100753 non-null  float64
 5   bid_price_5  100712 non-null  float64
 6   bid_size_1   100807 non-null  float64
 7   bid_size_2   100801 non-null  float64
 8   bid_size_3   100775 non-null  float64
 9   bid_size_4   100753 non-null  float64
 10  bid_size_5   100712 non-null  float64
 11  ask_price_1  100807 non-null  float64
 12  ask_price_2  100801 non-null  float64
 13  ask_price_3  100775 non-null  float64
 14  ask_price_4  100753 non-null  float64
 15  ask_price_5  100712 non-null  float64
 16  ask_size_1   100807 non-null  float64
 17  ask_size_2   100801 non-null  float64
 18  ask_size_3   100775 non-null  float64
 19  ask_size_4   100753 non-null  float64
 20  ask_size_5   100712 non-null  float64
 21  open         100807 non-null  float64
 22  high         100807 non-null  float64
 23  low          100807 non-null  float64
 24  close        100807 non-null  float64
 25  volume       100807 non-null  float64
 26  symbol       100807 non-null  object
 27  volatility   100807 non-null  float64
dtypes: float64(26), object(2)
memory usage: 22.3+ MB

In [23]:
min(data['timestamp'])

'2023-09-12 13:45:00+00:00'

In [24]:
max(data['timestamp'])

'2024-09-20 19:59:00+00:00'

The data contains information on 17,126 shares, over the course of about two months (7/1/24 through 8/30/24).

The task at hand involves splitting the trades of 1000 shares within one trading day (390 minutes).

The provided features of each quote include the date and time, bid prices 1 through 5, bid sizes 1 through 5, ask prices 1 through 5, and ask sizes 1 through 5.

In [25]:
#need to change the data type of the timestamp column to be recognized as a date and time
data['timestamp'] = pd.to_datetime(data['timestamp'])
data['timestamp'].dt.date.value_counts()

2024-08-06    390
2024-01-02    390
2024-04-10    390
2024-04-05    390
2023-10-20    390
             ...
2023-12-29    384
2023-12-28    384
2023-09-12    375
2023-11-24    348
2024-07-03    324
Name: timestamp, Length: 259, dtype: int64

## Data Processing

In [26]:
data['timestamp'].dt.date.value_counts()

2024-08-06    390
2024-01-02    390
2024-04-10    390
2024-04-05    390
2023-10-20    390
             ...
2023-12-29    384
2023-12-28    384
2023-09-12    375
2023-11-24    348
2024-07-03    324
Name: timestamp, Length: 259, dtype: int64

In [27]:
data['timestamp'].dt.date == ('2024-07-01')

15        False
16        False
17        False
18        False
19        False
          ...
100959    False
100960    False
100961    False
100962    False
100963    False
Name: timestamp, Length: 100807, dtype: bool

Dealing with missing values:

In [28]:
# #missing values in either the bids or asks indicates a price was agreed upon in less than 5 bids
# #therefore, for these missing values, it makes the most sense to just impute
# #the last bid or ask price or size that as given for that same timestamp
# def final_bid_price
#     for row in data:
#         if data.bid_size_5.isna():
#             data.bid_size_5

In [29]:
data['bid_price_5'].isnull().sum()

95

In [30]:
data['bid_price_4'].isnull().sum()

54

In [31]:
data['bid_price_3'].isnull().sum()

32

In [32]:
data['bid_price_2'].isnull().sum()

6

In [33]:
data['bid_price_1'].isnull().sum()

0

In [34]:
data['ask_price_5'].isnull().sum()

95

In [35]:
final_bid_price = []

        
for index, row in data.iterrows():
    if row.bid_price_5 != np.nan: 
        final_bid_price.append(row['bid_price_5'])
    elif row.bid_price_4 != np.nan: 
        final_bid_price.append(row['bid_price_4'])
    elif row.bid_price_3 != np.nan: 
        final_bid_price.append(row['bid_price_3'])
    elif row.bid_price_2 != np.nan:  
        final_bid_price.append(row['bid_price_2'])
    else: final_bid_price.append(row['bid_price_1'])        
        
data['final_bid_price'] = final_bid_price

In [36]:
final_bid_size = []

        
for index, row in data.iterrows():
    if row.bid_size_5 != np.nan: 
        final_bid_size.append(row['bid_size_5'])
    elif row.bid_size_4 != np.nan: 
        final_bid_size.append(row['bid_size_4'])
    elif row.bid_size_3 != np.nan: 
        final_bid_size.append(row['bid_size_3'])
    elif row.bid_size_2 != np.nan:  
        final_bid_size.append(row['bid_size_2'])
    else: final_bid_size.append(row['bid_size_1'])        
        
data['final_bid_size'] = final_bid_size

In [37]:
final_ask_price = []

        
for index, row in data.iterrows():
    if row.ask_price_5 != np.nan: 
        final_ask_price.append(row['ask_price_5'])
    elif row.ask_price_4 != np.nan: 
        final_ask_price.append(row['ask_price_4'])
    elif row.ask_price_3 != np.nan: 
        final_ask_price.append(row['ask_price_3'])
    elif row.ask_price_2 != np.nan:  
        final_ask_price.append(row['ask_price_2'])
    else: final_ask_price.append(row['ask_price_1'])        
        
data['final_ask_price'] = final_ask_price

In [38]:
final_ask_size = []

        
for index, row in data.iterrows():
    if row.ask_size_5 != np.nan: 
        final_ask_size.append(row['ask_size_5'])
    elif row.ask_size_4 != np.nan: 
        final_ask_size.append(row['ask_size_4'])
    elif row.ask_size_3 != np.nan: 
        final_ask_size.append(row['ask_size_3'])
    elif row.ask_size_2 != np.nan:  
        final_ask_size.append(row['ask_size_2'])
    else: final_ask_size.append(row['ask_size_1'])        
        
data['final_ask_size'] = final_ask_size

In [39]:
data.head()

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,high,low,close,volume,symbol,volatility,final_bid_price,final_bid_size,final_ask_price,final_ask_size
15,2023-09-12 13:45:00+00:00,179.52,179.52,179.52,179.52,179.52,23600.0,7600.0,10000.0,4000.0,...,179.52,179.26,179.26,21357.0,AAPL,0.004388,179.52,20000.0,179.26,16500.0
16,2023-09-12 13:46:00+00:00,179.31,179.31,179.31,179.31,179.31,23100.0,3000.0,10100.0,13100.0,...,179.31,179.06,179.09,25196.0,AAPL,0.003626,179.31,13100.0,179.07,2500.0
17,2023-09-12 13:47:00+00:00,179.10,179.10,179.10,179.10,179.10,10000.0,9200.0,13000.0,10000.0,...,179.11,178.87,179.01,59744.0,AAPL,0.003464,179.10,15500.0,178.87,18800.0
18,2023-09-12 13:48:00+00:00,179.10,179.10,179.10,179.10,179.10,10000.0,9700.0,10000.0,13200.0,...,179.10,178.78,178.82,33523.0,AAPL,0.003094,179.10,10000.0,178.78,27100.0
19,2023-09-12 13:49:00+00:00,178.82,178.82,178.82,178.82,178.82,36600.0,10000.0,16600.0,36600.0,...,178.83,178.51,178.60,38747.0,AAPL,0.003019,178.82,36600.0,178.51,13900.0

In [45]:
data['bid_prices_cumsum'] = data.iloc[:,1:6].sum(axis=1)

In [47]:
data['bid_sizes_cumsum'] = data.iloc[:,6:11].sum(axis=1)

In [48]:
data.head()

,timestamp,bid_price_1,bid_price_2,bid_price_3,bid_price_4,bid_price_5,bid_size_1,bid_size_2,bid_size_3,bid_size_4,...,close,volume,symbol,volatility,final_bid_price,final_bid_size,final_ask_price,final_ask_size,bid_prices_cumsum,bid_sizes_cumsum
15,2023-09-12 13:45:00+00:00,179.52,179.52,179.52,179.52,179.52,23600.0,7600.0,10000.0,4000.0,...,179.26,21357.0,AAPL,0.004388,179.52,20000.0,179.26,16500.0,897.60,65200.0
16,2023-09-12 13:46:00+00:00,179.31,179.31,179.31,179.31,179.31,23100.0,3000.0,10100.0,13100.0,...,179.09,25196.0,AAPL,0.003626,179.31,13100.0,179.07,2500.0,896.55,62400.0
17,2023-09-12 13:47:00+00:00,179.10,179.10,179.10,179.10,179.10,10000.0,9200.0,13000.0,10000.0,...,179.01,59744.0,AAPL,0.003464,179.10,15500.0,178.87,18800.0,895.50,57700.0
18,2023-09-12 13:48:00+00:00,179.10,179.10,179.10,179.10,179.10,10000.0,9700.0,10000.0,13200.0,...,178.82,33523.0,AAPL,0.003094,179.10,10000.0,178.78,27100.0,895.50,52900.0
19,2023-09-12 13:49:00+00:00,178.82,178.82,178.82,178.82,178.82,36600.0,10000.0,16600.0,36600.0,...,178.60,38747.0,AAPL,0.003019,178.82,36600.0,178.51,13900.0,894.10,136400.0

### Baseline Strategies:

In [102]:
#code does not work for simulation

In [103]:
# import pandas as pd
# import numpy as np

# class Benchmark:
    
#     def __init__(self, data):
#         """
#         Initializes the Benchmark class with provided market data.

#         Parameters:
#         data (DataFrame): A DataFrame containing market data, including top 5 bid prices and sizes. (Use bid_ask_ohlcv_data)
#         """
#         # Use data with top 5 bid prices and sizes for benchmarking
#         self.data = data

#     def get_twap_trades(self, data, initial_inventory, preferred_timeframe=390):
#         """
#         Generates a trade schedule based on the Time-Weighted Average Price (TWAP) strategy.

#         Parameters:
#         data (DataFrame): The input data containing timestamps and closing prices for each time step.
#         initial_inventory (int): The total number of shares to be sold over the preferred timeframe.
#         preferred_timeframe (int): The total number of time steps (default is 390, representing a full trading day).

#         Returns:
#         DataFrame: A DataFrame containing the TWAP trades with timestamps, price, shares sold, and remaining inventory.
#         """
#         total_steps = len(data)
#         twap_shares_per_step = initial_inventory / preferred_timeframe
#         remaining_inventory = initial_inventory
#         trades = []
#         for step in range(min(total_steps, preferred_timeframe)):
#             size_of_slice = min(twap_shares_per_step, remaining_inventory)
#             remaining_inventory -= int(np.ceil(size_of_slice))
#             trade = {
#                 'timestamp': data.iloc[step]['timestamp'],
#                 'step': step,
#                 'price': data.iloc[step]['close'],
#                 'shares': size_of_slice,
#                 'inventory': remaining_inventory,
#             }
#             trades.append(trade)
#         return pd.DataFrame(trades)

#     def get_vwap_trades(self, data, initial_inventory, preferred_timeframe=390):
#         """
#         Generates a trade schedule based on the Volume-Weighted Average Price (VWAP) strategy.

#         Parameters:
#         data (DataFrame): The input data containing timestamps, closing prices, and volumes for each time step.
#         initial_inventory (int): The total number of shares to be sold over the preferred timeframe.
#         preferred_timeframe (int): The total number of time steps (default is 390, representing a full trading day).

#         Returns:
#         DataFrame: A DataFrame containing the VWAP trades with timestamps, price, shares sold, and remaining inventory.
#         """
#         total_volume = data['volume'].sum()
#         total_steps = len(data)
#         remaining_inventory = initial_inventory
#         trades = []
#         for step in range(min(total_steps, preferred_timeframe)):
#             volume_at_step = data['volume'].iloc[step]
#             size_of_slice = (volume_at_step / total_volume) * initial_inventory
#             size_of_slice = min(size_of_slice, remaining_inventory)
#             remaining_inventory -= int(np.ceil(size_of_slice))
#             trade = {
#                 'timestamp': data.iloc[step]['timestamp'],
#                 'step': step,
#                 'price': data.iloc[step]['close'],
#                 'shares': size_of_slice,
#                 'inventory': remaining_inventory,
#             }
#             trades.append(trade)
#         return pd.DataFrame(trades)
    
#     def calculate_vwap(self, idx, shares):
#         """
#         Calculates the Volume-Weighted Average Price (VWAP) for a given step and share size.

#         Parameters:
#         idx (int): The index of the current step in the market data.
#         shares (int): The number of shares being traded at the current step.

#         Returns:
#         float: The calculated VWAP price for the current step.
#         """
#         # Assumes you have best 5 bid prices and sizes in your dataset
#         bid_prices = [self.data[f'bid_price_{i}'] for i in range(1,6)]
#         bid_sizes = [self.data[f'bid_size_{i}'] for i in range(1,6)]
#         cumsum = 0
#         for idx, size in enumerate(bid_sizes):
#             cumsum += size
#             if cumsum >= shares:
#                 break
        
#         return np.sum(bid_prices[:idx+1] * bid_sizes[:idx+1]) / np.sum(bid_sizes[:idx+1])

#     def compute_components(self, alpha, shares, idx):
#         """
#         Computes the transaction cost components such as slippage and market impact for a given trade.

#         Parameters:
#         alpha (float): A scaling factor for market impact (determined empirically or based on research).
#         shares (int): The number of shares being traded at the current step.
#         idx (int): The index of the current step in the market data.

#         Returns:
#         array: A NumPy array containing the slippage and market impact for the given trade.
#         """
#         actual_price = self.calculate_vwap(idx, shares)
#         Slippage = (self.data['bid_price_1'] - actual_price) * shares  # Assumes bid_price is in your dataset
#         Market_Impact = alpha * np.sqrt(shares)
#         return np.array([Slippage, Market_Impact])
    
#     def simulate_strategy(self, trades, data, preferred_timeframe):
#         """
#         Simulates a trading strategy and calculates various transaction cost components.

#         Parameters:
#         trades (DataFrame): A DataFrame where each row contains 'shares' and 'action' for each trade.
#         data (DataFrame): Market data including bid prices and volumes.
#         preferred_timeframe (int): The total number of time steps over which the strategy is simulated.

#         Returns:
#         tuple: A tuple containing lists of slippage, market impact.
#         """
        
#         # Initialize result lists
#         slippage = []
#         market_impact = []
#         alpha = 4.439584265535017e-06 
#         rewards = []
#         shares_traded = []

#         # Simulate the strategy
#         for idx in range(len(trades)):
#             shares = trades.iloc[idx]['shares']
#             reward = self.compute_components(alpha, shares, idx)
#             slippage.append(reward[0])
#             market_impact.append(reward[1])
#             shares_traded.append(shares)
#             rewards.append(reward)

#         return slippage, market_impact

In [96]:
# benchmarks = Benchmark(data)
# # model_1a.compile(optimizer=tf.keras.optimizers.Adam(0.05))
# print(benchmarks)

<__main__.Benchmark object at 0x7fee5086a4f0>

In [97]:
# twap_trades = benchmarks.get_twap_trades(data=data, initial_inventory=1000)

In [99]:
# vwap_trades = benchmarks.get_vwap_trades(data=data, initial_inventory=1000)

In [104]:
# benchmarks.simulate_strategy(trades=vwap_trades, data=data, preferred_timeframe=390)